<div class="container">
  <h1 class="article-title">Search for a movie</h1>
  <%= form_tag search_result_path, :method => "get", :class => "form-horizontal", :style => "margin:auto; max-width:400px" do %>
      <%= text_field :q, nil, :placeholder => "Search for", :class => "form-control" %>
  <% end %>
  <p>

  <div class="list-group">
    <% @search.each do |movie| %>
        <% if movie.poster_path %>
            <%= link_to movie_path(movie.id), :class => 'list-group-item' do %>
                <%= content_tag :div, "Rate: #{movie.vote_average}" %>
                <%= content_tag :div, nil, class: "rating-tv", :data => {id: movie.id, :score => Ratings.get_vote_average(movie.id), :readonly => Ratings.can_set_vote(movie.id, @client_ip)} %>
                <%= image_tag("#{@configuration.base_url}w92#{movie.poster_path}") %>
                <span style="font-size: 1.3em"><%= movie.original_title %></span>
            <% end %>
        <% end %>
    <% end %>
  </div>
  </p>
</div>
